:root {
    --red-color: #d41e1e;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fb5533;
}

/* reset all the default properties to our default defination */
* {
    box-sizing: inherit;    
}

html {
    font-size: 62.5%; 
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-size: 1rem;
}   

body {
    margin: 0;
}

.grid {
    width: 1220px;
    height: 20%;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.grid__column {
    
}


/* Animation */
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.home__filter-sort-select {
    position: relative;
    min-width:  150px;
    height: 30px;
    padding: 0 0 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__sort-select-input {
    padding: 0;
    margin: 0;
    background-color: var(--white-color);
    top: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    display: block;
}

.select__input-link a:hover {
    background-color: #eeecec;
    cursor: pointer;
    color: var(--primary-color);
}

.select__input-link a{
    display: block;
    font-size: 0.85rem;
    text-decoration: none;
    color: #333;
    width: 100%;
    padding: 5px 10px;
}

.select__input-link {
    list-style: none;
    width: 100%;
}

.home__sort-arrow-icon {

}


